.parent{
	display: grid;
	padding: 3%;
	grid-template-columns: repeat( auto-fit, minmax( 331px, 1fr) );
	grid-column-gap: 1%;
	grid-row-gap: 1%;	
}

/* from linked website on instructions */
.child{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tabs{
	background-color: black;
	padding: 13px;
	font-size: 20px;
	text-align: left;
}

.tabs a{
	color: lightgrey;
	padding: 13px;
	text-decoration: none;
}


table,td,th,tr{
	padding: 13px;
	border: 1px solid black;
	border-collapse: collapse;
}
